

<web-app>

<!--  Variables de contexte -->
	<context-param>
		<param-name>titre</param-name>
		<param-value>candidatures</param-value>
	</context-param>
	<context-param>
		<param-name>tailleMaxFichier</param-name>
		<param-value>5242880</param-value>
	</context-param>
	<context-param>
		<param-name>lienDossier</param-name>
		<!--  <param-value>/home/SABERKAN/eclipse_galileo/workspace/DE_MVC/Dossier/</param-value> -->
 <param-value>/usr/share/tomcat6/webapps/dossiers/Dossier/</param-value>	
</context-param>
	
	
<!-- La durée de la session -->
	<session-config>
	    <session-timeout>30</session-timeout>
	</session-config>
	
<!--  la redirection des erreur, à mettre en commentaire pour debuger 
	<error-page>
		<error-code>500</error-code>
		<location>/erreurSQL.jsp</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/erreurSQL.jsp</location>
	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/erreurSQL.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/erreurSQL.jsp</location>
	</error-page>
	<error-page>
		<error-code>504</error-code>
		<location>/erreurSQL.jsp</location>
	</error-page>
	<error-page>
		<error-code>505</error-code>
		<location>/erreurSQL.jsp</location>
	</error-page>
	
	
	<error-page>
		<error-code>400</error-code>
		<location>/erreurClient.jsp</location>
	</error-page>
	<error-page>
			
		<error-code>401</error-code>
		<location>/erreurClient.jsp</location>
	</error-page>
	<error-page>
		<error-code>402</error-code>
		<location>/erreurClient.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/erreurClient.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/erreurClient.jsp</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/erreurClient.jsp</location>
	</error-page>
	<error-page>
		<error-code>406</error-code>
		<location>/erreurClient.jsp</location>
	</error-page>
	<error-page>
		<error-code>407</error-code>
		<location>/erreurClient.jsp</location>
	</error-page>
	<error-page>
		<error-code>408</error-code>
		<location>/erreurClient.jsp</location>
	</error-page>
	<error-page>
		<error-code>409</error-code>
		<location>/erreurClient.jsp</location>
	</error-page>
	<error-page>
		<error-code>410</error-code>
		<location>/erreurClient.jsp</location>
	</error-page>
	<error-page>
		<error-code>411</error-code>
		<location>/erreurClient.jsp</location>
	</error-page>
	<error-page>
		<error-code>412</error-code>
		<location>/erreurClient.jsp</location>
	</error-page>
	<error-page>
		<error-code>413</error-code>
		<location>/erreurClient.jsp</location>
	</error-page>
	<error-page>
		<error-code>414</error-code>
		<location>/erreurClient.jsp</location>
	</error-page>
	<error-page>
		<error-code>415</error-code>
		<location>/erreurClient.jsp</location>
	</error-page> 
	
	-->
	
<!-- indiquation de la page d'acceil -->
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
<!-- les mappings -->
	
	<servlet>
		<servlet-class>com.de_mvc.controller.Etape_servlet</servlet-class>
		<servlet-name>ServletOne</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.de_mvc.controller.Depot_servlet</servlet-class>
		<servlet-name>ServletTwo</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.de_mvc.controller.Uploading_servlet</servlet-class>
		<servlet-name>ServletThree</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.de_mvc.controller.Modification_servlet</servlet-class>
		<servlet-name>ServletFour</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.de_mvc.controller.SuppressionDone_servlet</servlet-class>
		<servlet-name>ServletFive</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.de_mvc.controller.DepotModification_servlet</servlet-class>
		<servlet-name>Servletsix</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.de_mvc.controller.Deconnection_servlet</servlet-class>
		<servlet-name>ServletSeven</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.de_mvc.controller.BackToEtape_servlet</servlet-class>
		<servlet-name>ServletEight</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.de_mvc.controller.Recommandation_servlet</servlet-class>
		<servlet-name>ServletNine</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.de_mvc.controller.EnvoieMails_servlet</servlet-class>
		<servlet-name>ServletTen</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.de_mvc.controller.LoginReferent_servlet</servlet-class>
		<servlet-name>ServletEleven</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.de_mvc.controller.EnvoieLiens_servlet</servlet-class>
		<servlet-name>ServletTwelve</servlet-name>
	</servlet>
	<servlet>
		<servlet-class>com.de_mvc.controller.Visualiser_servlet</servlet-class>
		<servlet-name>ServletThirteen</servlet-name>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServletOne</servlet-name>
		<url-pattern>/Etape.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletTwo</servlet-name>
		<url-pattern>/depot.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletThree</servlet-name>
		<url-pattern>/uploading.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletFour</servlet-name>
		<url-pattern>/modification</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletFive</servlet-name>
		<url-pattern>/suppressionDone</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servletsix</servlet-name>
		<url-pattern>/depotModification.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletSeven</servlet-name>
		<url-pattern>/deconnection.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletEight</servlet-name>
		<url-pattern>/backToEtape</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletNine</servlet-name>
		<url-pattern>/recommandation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletTen</servlet-name>
		<url-pattern>/envoieMails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletEleven</servlet-name>
		<url-pattern>/loginReferent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletTwelve</servlet-name>
		<url-pattern>/envoieLiens</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletThirteen</servlet-name>
		<url-pattern>/visualiser</url-pattern>
	</servlet-mapping>
	
</web-app>
